.game-code {
    margin-top: 32px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    border-radius: 16px;

    background: linear-gradient(
            135deg,
            #193133 0%,
            #1f3f42 100%
    );

    border: 1px solid rgba(208, 255, 113, 0.4);
}