.root {
    position: relative;
    margin-bottom: 48px;
    padding: 24px;
    border-radius: 14px;

    border: 1px solid var(--color-classic-red);

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label {
    position: absolute;
    top: -12px;
    left: 20px;

    padding: 0 8px;
    background-color: var(--color-dark);
}
