.root {
    position: relative;
    margin-top: 48px;
    padding: 24px;
    border-radius: 14px;

    border: 1px solid rgba(143, 147, 255, 0.45);
}

.label {
    position: absolute;
    top: -12px;
    left: 20px;

    padding: 0 8px;
    background-color: var(--color-dark);
}
