.root {
    border-radius: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    display: inline-flex;
    aspect-ratio: 1;
    height: 37px;
}

.root > svg {
    scale: 1.5;
}

.primary {
    background: var(--color-light-green);
    color: var(--color-dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary:active {
    opacity: 0.8;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
