.root {
    border-radius: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    display: inline-flex;
    aspect-ratio: 1;
    height: 37px;
}

.primary {
    background: var(--color-light-green);
    color: var(--color-dark-grey);
}

.secondary {
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
