.root {
    border-radius: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    display: inline-flex;
    aspect-ratio: 1;
    height: 37px;
}

.root > svg {
    scale: 1.5;
}

.primary {
    background: var(--color-light-green);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary:active {
    opacity: 0.8;
}

.danger {
    background: var(--color-classic-red);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(255, 51, 51, 0.4);
}

.danger:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.lavender {
    background: var(--color-lavender);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(143, 147, 255, 0.5);
}

.lavender:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}