:root {
    --background-dark: #193133;

    --color-dark-grey: #193133;
    --color-light-green: #D0FF71;
    --color-lavender: #8F93FF;
    --color-turquoise: #27EAA6;
    --color-white: #EBFFF6;
    --color-classic-red: #FF3333;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;

    --radius-sm: 4px;
    --radius-md: 6px;
}
